@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

@font-face {
    font-family: 'LufgaBold';
    src: url('./fonts/lufga/LufgaBold.ttf') format('woff2');
    font-style: normal;
  }
  
@font-face {
    font-family: 'Lufga';
    src: url('./fonts/lufga/LufgaRegular.ttf') format('woff2');
    font-style: normal;
  }

  body{
    background-color: #F5E6D3;
    font-family: 'Lufga';
  }


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bbb9b9;
}